header {
  text-align: center;
  background-color: #da0303;
}


h1 {
  background-color: #da0303;
  margin: 0;
}

header {
  border: 3 solid #333333;
}

.basicinfo {
  background-color: #39cccc;
   text-shadow: 5px;
  margin: auto;
  
}

.spanconf {
  font-size: 25px;
}

select {
  width: 155px;
}

label {
  text-align: center;
}

fieldset {
  font-size:55px;
  text-align: center;
  background-color: #39cccc;

   }

h3 {
  font-size: 40px;
}

input[type="radio"] {
  height: 30px;
  width: 50px;
  
}


.activities {
  font-size: 20px;
  text-align: center;
}

.payment {
  font-size: 20px;
}

button {
  font-size: 30px;
}

.bitcoin, .paypal {
  font-size: 20px;
}


